body {
    margin: 0;
    padding: 0;
    font-family: arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align: center;
    color: black;
    height: 100%;
    background-color:#3cb371;
    background : -webkit-gradient(linear, left top, left bottom,
                                  color-stop(0, #eefff0),
                                  color-stop(0.2, #ffffff),
                                  color-stop(0.8, #ffffff),
                                  color-stop(1, #eefff0));
    background : -moz-linear-gradient(center top,
                                  #eefff0 0%,
                                  #ffffff 20%,
                                  #ffffff 80%,
                                  #eefff0 100%);
    display: none; /* turn this if loading finished */
}

.konoha-header {
    text-align: left;
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    margin: 10px 0;
}

.konoha-header-logo {
    position: relative;
    height : 48px;
    margin: 12px;
}

.konoha-header div span {
    position : relative;
    font-weight: bold;
    display: list-item;
    list-style-type: none;
}

.konoha-header-title {
    font-size: 48px;
}

.konoha-menu {
    position: relative;
    height: 24px;
    background: black;
}

.konoha-menu-wrapper {
    width: 924px;
    height: 100%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.konoha-menu-wrapper span {
    line-height: 24px;   /* must be same as menu's height */
    color: #c9c9c9;
    width: 20%;   /* menu width / item count */
    display: inline-block;
    font-size: 12px;
}

.konoha-menu-wrapper span:hover {
    cursor: pointer;
    color: #ffffff;
    background: #3f3f3f;
}

.konoha-contents {
    width: 924px;
    display: block;
    margin: 20px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.konoha-footer {
    position: relative;
    height: 100px;
    border-top:1px solid black;
}
