.libList {
	padding: 10px;
	text-align: left;
	left: 0px;
	top: 0px;
}

.inline {
	padding: 5px;
	color: #000000;
	/*background: #dddddd;*/
}

.outline {
	padding: 5px;
	color: #000000;
	/*background: #dddddd*/;
}

.lib {
	padding-left: 30px;
}
